doctype html
html(lang='en')
    head
        title Jade
        link(rel="stylesheet" href="style/bootstrap.min.css")
        link(rel="stylesheet" href="style/layout.css")
    body
        div.box
            div.header
                ul.navlist
                    li.bgc
                        a 学生表
                    li
                        a 用户表
                    li.user
                        a 当前用户：#{showname}
            div.clear
            div.containerr
                div.containerstu
                    // Button trigger modal
                    button.btn.btn-primary.btn-lg(type='button',id="tj")
                        | 添加
                    div.function
                        form#screenform(action='')
                            select(name='sex', id='')
                                option(value='male') 男生
                                option(value='female') 女生
                            button#screen 筛选
                        form#sortform(action='')
                            select(name='sort', id='')
                                option(value='age') 年龄
                                option(value='score') 成绩
                            button#sort 排序
                        form#findform(action='/find')
                            input(type='text', placeholder='请输入要查询的条件')
                            button#find 查询
                    // Modal
                    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                    h4#myModalLabel.modal-title 添加/修改
                                .modal-body
                                    form#myform
                                        .form-group
                                            label(for='exampleInputEmail1') 学号
                                            input.fixnum#exampleInputEmail1.form-control(type='text', placeholder='学号',name="num")
                                        .form-group
                                            label(for='exampleInputPassword1') 姓名
                                            input#exampleInputPassword1.form-control(type='text', placeholder='姓名',name="name")
                                        .form-group
                                            label(for='exampleInputPassword1') 年龄
                                            input#exampleInputPassword1.form-control(type='text', placeholder='年龄',name="age")
                                        .form-group
                                            label(for='exampleInputPassword1') 成绩
                                            input#exampleInputPassword1.form-control(type='text', placeholder='成绩',name="score")
                                        .form-group
                                            label(for='exampleInputPassword1') 性别
                                            input#exampleInputPassword1.form-control(type='text', placeholder='性别',name="sex")
                                        button.btn.btn-primary(type='submit') 提交
                    table.table.table-bordered.table-hover#stutable
                        thead
                            tr
                                th ID
                                th 学号
                                th 姓名
                                th 年龄
                                th 成绩
                                th 性别
                                th 删除
                                th 修改
                        tbody#stutbody
                div.containerstu.active
                    table.table.table-bordered#usetable
                        thead
                            tr
                                th ID
                                th Email
                                th 用户名
                                th 密码
                                th 删除
                        tbody#usetbody
        script(src="script/jquery.js")
        script(src="script/bootstrap.min.js")
        script(src="script/layout.js")